body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.card{
    transition: 300ms;
    background: linear-gradient(to right, #120d2b, #191936, #451649);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover{
scale: 1.1;
}